.mathkey_info {
    margin-top: 90px; /* Header Height */
    display: flex;
    justify-content: space-around;
}
.mathkey_info div {
    width: 80%;
}
.product_intro {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro_row {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.intro_row h2 {
    text-align: center;
    width: 90%;
    margin-top: 0px;
}
.intro_row img {
    max-width: 100%;
    border-radius: 20px;
}


.manual {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mathkey_type {
    width: 65%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.mathkey_type h1 {
    margin-top: 40px;
}
.mathkey_type h2 {
    border-top: solid;
    border-color: purple;
    margin: 40px 10px 5px 10px;
}
.mathkey_type ul {
    margin: 0px 10px 0px 30px;
}
.mathkey_type ol {
    margin: 0px 10px 0px 30px;
}
.mathkey_type p {
    margin: 0px 10px 0px 30px;
}
.mathkey_type img {
    max-width: 100%;
    flex: 1;
}
.mathkey_draw {
    width: 65%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.mathkey_draw h1 {
    margin-top: 40px;
}
.mathkey_draw h2 {
    border-top: solid;
    border-color: purple;
    margin: 40px 10px 5px 10px;
}
.mathkey_draw ul {
    margin: 0px 10px 0px 30px;
}
.mathkey_draw ol {
    margin: 0px 10px 0px 30px;
}
.mathkey_draw p {
    margin: 0px 10px 0px 30px;
}
.mathkey_draw img {
    max-width: 100%;
    flex: 1;
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
    .product_intro {
        flex-direction: column;
        align-items: center;
    }
    .intro_row {
        width: 70%;
        margin: 10px;
    }
    .intro_row img {
        border-radius: 10px;
    }
    .mathkey_type {
        width: 100%;
    }
    .mathkey_draw {
        width: 100%;
    }
}
