<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mathkey</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/header_style.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/body_style.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/footer_style.css') }}">
</head>
<body>

    <header>
        <button class = "menu">&#9776;</button>
        <h1>mathkey</h1>
        <nav>
            <ul>
                <li><!a href = "http://templates/text_manu.html">Homepage</a></li>
                <li><!a href = "#">Text Manual</a></li>
                <li><!a href = "#">Draw Manual</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- PRODUCT INFORMATION -->
        <section class = "mathkey_info">
            <div>
                <h1>Mathkey is an easy-to-use portable x86 desktop application with mathematical texting and graphics in the way of writing a paper note.</h1></br>
                <h3>Download: </h3><p>follow below instructions to download the package for free.</p></br>
                <p>1. Download mathkey from official link: <a href="#">mathkey for windows x86</a></p>
                <p>2. Decompress the package and locate it to local folder.</p>
                <p>3. Do a virus scan on the package.</p>
                <p>4. Run the executable "Mathkey.exe".</p>
            </div>
        </section></br>
        <h2>Application Aspects:</h2>
        <section class = "product_intro">
            <div class = "intro_row">
                <img src = "{{ url_for('static', filename = 'img/mathkey_text.jpg') }}" alt = "Picture cannot be shown.">
                <h2>"Mathematics Texting."</h2>
            </div>
            <div class = "intro_row">
                <img src = "{{ url_for('static', filename = 'img/mathkey_draw.jpg') }}" alt = "Picture cannot be shown.">
                <h2>"Graphical Drawing."</h2>
            </div>
            <div class = "intro_row">
                <img src = "{{ url_for('static', filename = 'img/mathkey_arch.jpg') }}" alt = "Picture cannot be shown.">
                <h2>"Management of Graphics."</h2>
            </div>
        </section>

        <section class = "manual">
            <!-- USER MANUAL - TEXTING -->
            <section class="mathkey_type">
                <h1>Texting Manual</h1>

                <h2>T.1 Backup binary file with extension ".bak":</h2>
                <p>
                    The File > Open will save current files as a binary backup before the file content presents, the backup file has extension "bak".</br>To open the bak file, do it by "File > Open Binary".
                </p>

                <h2>T.2 Setup page border:</h2>
                <p>
                    On the canvas, dashed lines are displayed to represent page borders. You can select
                    A3/A4/A5 with portrait or landscape layout. Choose page sizes in "Setup > Page Size" menu.
                </p></br>
                <ul>
                    <li>Do "Setup > Add Page Row" to increase the page row layout.</li>
                    <li>Do "Setup > Add Page Column" to increase the page column layout.</li>
                </ul>

                <h2>T.3 Switching between text and math:</h2>
                <p>
                    Use "t" / "m" button <img src="{{ url_for('static', filename = 'img/text_math.png') }}" alt="Picture cannot be shown."> to switch between text / math typing.
                </p>

                <h2>T.4 High-light the empty line:</h2>
                <p>
                    Show/Hide an empty line for visibility, by "Text > Highlight Empty".
                </p>

                <h2>T.5 Select a section of text:</h2>
                <ol>
                    <li>Press and keep Shift key.</li>
                    <li>Click the mouse left key on the first location.</li>
                    <li>Keep press the mouse left key and drag the mouse.</li>
                </ol></br>
                <p>
                    Select the whole line by double-click the mouse left button.
                </p></br>
                <p>
                    With a selected text, "Ctrl + X, Ctrl + C" and "Ctrl + V" are used for cut, copy and paste the selected text.
                </p>

                <h2>T.6 Paste text copied from other text editor:</h2>
                <p>
                    In normal text editor, a copied section of text is stored in the clipboard, the text can be pasted into Mathkey editor
                    by "Edit > Copy Clipboard".
                </p>

            </section>

            <!-- USER MANUAL - DRAWING -->
            <section class="mathkey_draw">
                <h1>Drawing Manual</h1>

                <h2>D.1 Enable grids: Draw > Catch grid point</h2>
                <p>
                    When catch grid point is enabled, mouse will capture on grid point when left button is clicked.
                </p>

                <h2>D.2 Snap on vertices of a drawing: Draw > Catch shape vertex</h2>
                <p>
                    When catch shape vertex is enabled, mouse will capture on vertex point when left button is clicked.
                </p>

                <h2>D.3 Draw polygon, polyline, spline and Bezier curve:</h2>
                <p>
                    In "Draw > polygon / polyline / Bezier / Spline" to draw the poly shapes. </br>
                    The maximum number of vertices of a Bezier curve is 7 points.</br>

                    Illusion of different types of polygon / polyline:
                </p>
                <img src="{{ url_for('static', filename = 'img/poly_lines.png') }}" alt="Picture cannot be shown.">

                <h2>D.4 Find intercept on item:</h2>
                <p>
                    Find interception of polyline on a shape.
                </p>
                <img src="{{ url_for('static', filename = 'img/shape_intercept.png') }}" alt="Picture cannot be shown.">

                <h2>D.5 Create a mirrored item:</h2>
                <p>
                    Create a mirrored item with respect to a straight line.
                </p>
                <img src="{{ url_for('static', filename = 'img/shape_mirror.png') }}" alt="Picture cannot be shown.">

                <h2>D.6 Circular array:</h2>
                <p>
                    Make a circular array of an item around a vertex point, with requried angle and number.
                </p>
                <img src="{{ url_for('static', filename = 'img/shape_carray.png') }}" alt="Picture cannot be shown.">

                <h2>D.7 Paste an image snapshot:</h2>
                <p>
                    Here is how to paste an image snapshot into Mathkey.</br>
                    - Step 1: snapshot a part of screen with windows snipshot tool.</br>
                    - Step 2: "Ctrl + C" to paste the snapshot image.</br>
                </p>
                <img src="{{ url_for('static', filename = 'img/paste_snapshot.png') }}" alt="Picture cannot be shown.">

                <h2>D.8 Text and Label objects:</h2>
                <p>
                    You can create text and label objects from drawing drag and drop list.</br>
                    Here is the difference between these 2 objects.</br>
                    - Text: a multi-line text section that allows you to put math symbols. A text object cannot be rotated.</br>
                    - Label: characters only, single line object to note axes or graphics. A label object can be rotated.</br>
                </p>
                <img src="{{ url_for('static', filename = 'img/text_and_label.png') }}" alt="Picture cannot be shown.">

                <h2>D.9 Dimensioning:</h2>
                <p>
                    Dimensioning object can be created by "Draw > Dimension Label". When a dimension label is first time</br>
                    created, the length will be computed by on-paper length * Dimension Factor, afterwards, it can only be</br>
                    changed manually. Dimension Factor can be changed by "Draw > Dimension Factor" in the menu.
                </p>
                <img src="{{ url_for('static', filename = 'img/dimension_label_and_factor.png') }}" alt="Picture cannot be shown.">
                <p>
                    Here are how you can change the length label and extension.</br>
                    - Select the dimensioning object.
                    - Length text: on the mouse right-button menu, click on "set string".</br>
                </p>
                <img src="{{ url_for('static', filename = 'img/set_dimension_string.png') }}" alt="Picture cannot be shown.">
                <p>
                    - Extension: on the mouse right-button menu, click on "set extension".</br>
                </p>
                <img src="{{ url_for('static', filename = 'img/set_dimension_extension.png') }}" alt="Picture cannot be shown.">

                <h2>D.10 Layer management:</h2>
                <p>
                    You can create / delete layer for graphics, do layer management in "Setup > Layers".</br>
                    </br>
                    Several rules in layer manager:</br>
                    </br>
                    - You must have one working layer and only one.</br>
                    - Working layer cannot be deleted.</br>
                    - You can only set current working layer non-working layer by setting other layer as working layer.</br>
                    - A layer can only be deleted if it is not working layer and not occupied by any graphics.
                </p></br>
                <img src="{{ url_for('static', filename = 'img/layer_manager.png') }}" alt="Picture cannot be shown.">

                <h2>D.11 Graphics Library:</h2>
                <p>
                    At left-hand side of application screen, there are upper and lower windows to display "library" folder archive.</br>
                    Application visits library folder and list graphics objects that matches specific format.
                </p>
                <img src="{{ url_for('static', filename = 'img/draw_archive.png') }}" alt="Picture cannot be shown.">

                <h2>D.12 Create library objects:</h2>
                <p>
                    You can save a selected graphics or a graphics group into the library, creating a graphics item to reproduce the graphics with drag and drop operation.</br>
                    </br>
                    Procedure:</br>
                    1. Select the library folder that you want to put an item.</br>
                    2. Select the group item or a mono shape you would like to archive.</br>
                    3. Click on righ mouse button and click on "into library...".</br>
                    <img src="{{ url_for('static', filename = 'img/create_library_item.png') }}" alt="Picture cannot be shown."></br>
                    4. Create a bmp icon follow the bmp file name in the txg file, the prefered icon size is 32 x 32 pixels.</br>
                    <img src="{{ url_for('static', filename = 'img/archive_bmp.png') }}" alt="Picture cannot be shown."></br>
                </p>
            </section>
        </section>
    </main>

    <footer>
        <p>Copyright 2025 MATHKEY All Rights Reserved.</p>
    </footer>

    </body>
</html>


